/**
 * Global styles applied to all non-woocommerce theme components. Includes styles for;
 *
 * Typography
 * Header
 * Footer
 * Main content area
 * Accessiblity helper classes
 * 404
 * Comments
 * Content (posts etc)
 * Forms
 * Media
 * Menus
 * pagination
 * Post formats
 * Widgets
 */

/**
 * Typography
 */

* {
  outline: 0;
}

html {
  height: 100%;
}

body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

body,
button,
input,
textarea {
  color: $color_dark;
  font-family: $base-font;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

select {
  color: initial;
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 ms(-3);
  clear: both;
  color: $color_dark;

  a {
    color: $color_dark;

    &:active, &:hover, &:focus, &:visited {
      color: $color_dark;
      text-decoration: none;
    }
  }
}

h1,
.alpha {
  font-size: ms(5);
  line-height: 1.214;
  letter-spacing: -1px;
}

h2,
.beta {
  font-size: 2em;
  line-height: 1.214;

  & + h3 {
    border-top: 1px solid $color_border;
    padding-top: ms(-3);
  }
}

h3,
.gamma {
  font-size: ms(3);
}

h4,
.delta {
  font-size: ms(2);
}

.alpha,
.beta,
.gamma,
.delta {
  display: block;
}

p,
ul,
ol,
table,
blockquote,
form {
  & + h2,
  & + header h2,
  & + h3,
  & + h4 {
    margin-top: ms(4);
  }
}

hr {
  margin: 0 0 ms(2);
  background-color: $color_head;
  border: 0;
  height: 1px;
}

p {
  margin: 0 0 ms(2);
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: ms(1);
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 ms(3);
}

b,
strong {
  font-weight: 600;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  padding: 0 ms(1);
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  font-style: italic;
}

address {
  margin: 0 0 ms(2);
}

pre {
  background: rgba(#000, .1);
  font-family: 'Courier 10 Pitch', Courier, monospace;
  margin-bottom: ms(3);
  padding: ms(3);
  overflow: auto;
  max-width: 100%;
}

code,
kbd,
tt,
var {
  font-family: 'Monaco, Consolas', 'Andale Mono', 'DejaVu Sans Mono', monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: .202em ms(-3);
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  text-decoration: none;
  font-weight: 600;
  background: transparent;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 ms(2);
  width: 100%;
}

img {
  display: block;
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
}

a {
  color: $color_links;
  text-decoration: none;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

/**
 * Global styles
 */
* {
  box-sizing: border-box;
}

body {
  background-color: $body-background;
  overflow-x: hidden;
}

.site {
  overflow-x: hidden;
}

.site-content {
  margin-top: 80px;

  .header-widget-region {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

/**
 * Header
 */
.site-header {
  height: 73px;
  background-color: $body-background;
  color: $color_head;
  background-position: center center;
  position: relative;
  z-index: 999;
  border-bottom: 1px solid transparent;

  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    display: block;

    img {
      max-width: 210px;
    }
  }

  .site-branding,
  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    margin-bottom: 0;
    float: left;
  }

  .widget {
    margin-bottom: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .site-content {
    margin-top: 50px;
  }
}