@mixin clearfix {
  &:before, &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

@mixin hoverActiveFocus() {
  &:hover, &:active, &:focus {
    @content;
  }
}

@mixin screen-reader-text() {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; // sass-lint:disable-line no-important
}

@mixin underlinedLink() {
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

@mixin message($glyph: '\f05a', $color: $info) {
  padding: 1em ms(3) 1em ms(6);
  background: rgba($color, .7);
  margin-bottom: ms(5);
  font-weight: normal;
  position: relative;
  color: $body-background;
  text-shadow: none;

  &:before {
    font-family: 'FontAwesome';
    content: $glyph;
    color: $body-background;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: ms(5);
    background: rgba(darken($color, 3%), .7);
    text-align: center;
    padding: 1em ms(-2);
    font-weight: normal;
    text-shadow: none;
  }

  a {
    color: $body-background;
    text-decoration: underline;

    &:hover {
      color: $body-background;
      text-decoration: none;
    }
  }

  a.button {
    background: $body-background;
    color: $color;
    font-size: ms(-1);
    padding: .202em ms(-2);

    &:hover,
    &:active {
      background: rgba($body-background, .8);
      color: $color;
    }
  }
}

@mixin button() {
  display: inline-block;
  border: 0;
  background: none;
  background-color: $color_body;
  border-color: $color_body;
  color: $body-background;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  padding: ms(-2) ms(2);
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 rgba(#000, .3);
}

@mixin afterBar($color , $size: 98%, $bottom: -4px, $height: 3px) {
  position: absolute;
  bottom: $bottom;
  width: $size;
  height: $height;
  content: '';
  background-color: $color;
  left: 0;
  z-index: 10;
}

%shadow {
  box-shadow: 1px 0 #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

%button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $base-font-alternative;
  background-color: $accent_inner;
  text-transform: lowercase;
}

%button_light {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $base-font-alternative;
  background-color: $cta_color;
  text-transform: lowercase;
}