  // Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 'Morion', sans-serif;
$base-font-bold: 'Morion-bold', sans-serif;
$base-font-alternative: 'raisonne-demibold', sans-serif;
$font-family-legal: 'Roboto Mono', monospace;
$header-font: $base-font;
$ms-base: 1em, .875em;
$ms-ratio: 1.618;
$base-font-size: 16px;
$margin-base: 1em;
$margin-base-inner: 48px;
$max-width-bloom: 1607px;
$screen-max-big: 1221px;
$screen-max-xl: 1401px;
$screen-max-ultra: 1500px;
$screen-xs-mini: 320px;
$border-aspect: 3px;

// base color scheme
$body-background: #FFFFFF;
$color_body: #FBF8F0;
$color_links: #2C2D33;
$color_dark: #000;
$color_border: rgba(0, 0, 0, 0.05);
$accents: #F8CFB1;
$accent_inner: #D0BCA2;
$cta_color: #EEE6D8;
$color_woocommerce: #96588A;
$error: #E2401C;
$success: #02AE56;
$info: #3D9CD2;
$color_head: #9AA0A7;
$dropdown-base: #F5F5F5;
$dropdown-border: #F5F5F5;
$plants-text: #0F0F0F;
$brand-primary: #000000;
$custom-hover: #CCCCCC;
$almost-dark: #2C2D33;