/* Morion Regular */

$font-path: '../../../../../wp-content/themes/bloomscape/fonts/';

@font-face {
  font-family: Morion;
  src: url('#{$font-path}hinted-Morion-Regular.woff') format('woff'),
  url('#{$font-path}hinted-Morion-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}

/* Morion Bold */
@font-face {
  font-family: Morion-bold;
  src: url('#{$font-path}hinted-Morion-Bold.woff') format('woff'),
  url('#{$font-path}hinted-Morion-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'raisonne-demibold';
  src: url('#{$font-path}raisonne-demibold.eot');
  src: url('#{$font-path}raisonne-demibold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}raisonne-demibold.woff') format('woff'),
  url('#{$font-path}raisonne-demibold.woff2') format('woff2'),
  url('#{$font-path}raisonne-demibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}