@import '../utils/variables';

.page-template-content-page, .page-template-legal-page {

  .site-content {
    margin: 0 auto;
    padding: 100px 0 60px 0;
    width: 60%;

    .inner-wrapper {

      > h2 {
        font-size: 26px;
        font-weight: normal;
        line-height: 42px;
        margin-bottom: 60px;
      }

      a {
        color: $success;

        &:active, &:hover, &:focus {
          color: $success;
        }
      }

      &.legal {

        h2 {
          font-size: 20px;
          font-family: $base-font-alternative;
          margin-bottom: 20px;
        }

        p {
          font-family: $font-family-legal;
          font-size: 12px;
          line-height: 28px;
        }
      }
    }

    .inner-content {
      @include make-row();
      position: relative;

      .side-content-module-wrapper {
        @include make-md-column(7);

        h3, h4, h5, h6 {
          margin: 10px 0;
          font-family: $base-font-alternative;
          font-size: 18px;
        }

        p {
          font-size: 18px;
          margin-bottom: 50px;
        }
      }

      .side-image-module-wrapper {
        @include make-md-column(5);
        position: absolute;
        bottom: 50px;
        right: 0;

      }
    }
  }
}

@media (max-width: $screen-sm-max) {

  .page-template-content-page, .page-template-legal-page {

    .site-content {
      padding: 60px 1em 0 1em;
      width: 100%;

      .inner-wrapper {

        > h2 {
          font-size: 20px;
          line-height: 1.618;
        }

        .inner-content {

          .side-image-module-wrapper {
            margin: 40px 0;
            position: relative;
            bottom: auto;
            right: auto;
          }
        }

      }
    }
  }
}