@import '../utils/variables';

.page-template-our-story {

  .site-content {
    padding: 0 0 60px 0;

    .inner-wrapper {
      margin: 0 auto;
      padding: 0 50px;
      width: 60%;

      h1, h2 {
        font-size: 30px;
        font-family: $base-font;
        padding: 20px 0;
      }

      p {
        padding: 20px 0;
        font-size: 18px;
        font-family: $base-font;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {

  .page-template-our-story {

    .site-content {

      .inner-wrapper {
        padding: 0 1em;
        width: 90%;

        h1, h2 {
          font-size: 20px;

        }
      }

    }

  }

}

@media (min-width: $screen-max-xl) {

  .page-template-our-story {

    .site-content {

      .inner-wrapper {
        padding: 0 1em;
        width: 50%;
      }

    }

  }

}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {
  .page-template-our-story {

    .site-content {

      .inner-wrapper {
        padding: 0 1em;
        width: 70%;
      }

    }

  }
}