@import '../utils/variables';

.search-results, .search-no-results {

  .site-content {
    margin: 0 auto;
    padding: 100px 0 60px 0;
    width: 80%;

    .result-title {
      color: $success;
      font-family: $base-font-alternative;
    }

    .page-title {

      span {
        color: $success;
      }
    }

    .row-search-result {
      margin: 40px 0;

      &.product {
        @include make-row();

        .product-result {
          @include make-md-column(3);
          min-height: 500px;

          h3 {
            font-family: $base-font-alternative;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            text-transform: lowercase;
          }

          p {
            font-family: $font-family-legal;
            font-size: 12px;
            text-align: center;
          }
        }
      }

      &.post {

        .product-result {
          margin: 50px 0;
        }

        p {
          font-family: $font-family-legal;
          font-size: 12px;
          text-align: left;
        }
      }
    }

    .navigation {
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .screen-reader-text {
        font-family: $base-font-alternative;
        font-size: 22px;
        color: $success;
      }

      .nav-links {

        .page-numbers {

          li {
            display: inline;
            font-family: $base-font-alternative;
            color: $color_dark;
            font-size: 18px;

            a {
              color: $color_dark;

              &.active, &.hover, &.visited {
                color: $color_dark;
              }

            }

            .current {
              color: $success;
            }
          }
        }
      }
    }
  }
}