@import '../utils/variables';

.site-content {

  .btn {

    &.btn-bloom {
      border-radius: 0;
      padding: 5px 15px;
      font-family: $base-font-alternative;
      background-color: $body-background;
      text-transform: lowercase;
      font-size: 17px;
      position: relative;

      &:hover {

        &:after {
          @include afterBar($success, 100%, -2px, 3px);
        }
      }
    }

    &.btn-primary {
      background: $cta_color;
      font-family: $base-font-alternative;
      font-size: 17px;
      align-self: flex-end;
      padding: 5px 15px;
      border-radius: 0;
      color: inherit;
      border-color: transparent;

      &:focus {
        outline: 0;
      }
    }

  }
}
