@import '../utils/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons';
@import '../../../node_modules/slick-carousel/slick/slick.scss';

.review-slider {

  margin: 80px 0;

  .label-module {

    margin: 60px 0;
    text-align: center;

    h3 {
      font-size: 30px;
      font-family: $base-font-alternative;
    }
  }

  .module-carousel {

    .box-wrapper {
      display: flex;
      text-align: center;
      padding: 40px 50px;
      flex-direction: column;
      min-height: 250px;
      justify-content: flex-start;
      align-items: center;

      h4.review-title {
        font-size: 24px;
        font-family: $base-font-bold;
        line-height: 33px;
        min-height: 100px;
      }

      .review-cta {
        display: flex;
        flex: 1;
        flex-direction: row;

        a {

          background: $cta_color;
          font-family: $base-font-alternative;
          font-size: 17px;
          align-self: flex-end;
          padding: 5px 15px;
          border-radius: 0;

          &:focus {
            outline: 0;
          }

          h3 {
            margin: .4em;
          }
        }
      }

      .review-name {
        display: flex;
        flex: 1;
        flex-direction: row;

        span {
          font-size: 17px;
          font-weight: 600;
          font-family: $base-font-alternative;
        }
      }

    }

    .prevArrow {
      position: absolute;
      top: 50%;
      font-size: 30px;
      color: $success;
      left: 30px;
    }

    .nextArrow {
      position: absolute;
      top: 50%;
      right: 30px;
      font-size: 30px;
      color: $success;
    }
  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {

  .review-slider {

    .label-module {
      margin: 15px 0;
    }
  }
}