@import '../utils/variables';

.xoo-wsc-container {
  background: $color_body;

  .xoo-wsc-header {
    background: $color_body;
    border-bottom: none;

    .xoo-wsc-ctxt {
      color: $plants-text;
      font-family: $base-font-alternative;
      font-size: 20px;
      text-transform: lowercase;
    }

    .xoo-wsc-close {
      color: $success;
    }
  }

  .xoo-wsc-body {
    margin: 10px 25px 0 25px;
    background: $body-background;
    bottom: 30px;

    .xoo-wsc-content {

      .xoo-wsc-product {
        display: flex;
        border-bottom: solid 1px $color_body;

        .xoo-wsc-sum-col {
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          justify-content: center;
          font-family: $font-family-legal;
          color: $plants-text;
          position: relative;

          > a {
            text-transform: capitalize;
          }

          .variation {

            dt {
              display: none;
            }
          }

          .xoo-wsc-remove {
            color: $success;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;

            &:before {
              font-family: Font Awesome\ 5 Free;
              content: '\f00d';
              font-weight: 700;
            }
          }

          .xoo-wsc-psrow {
            display: flex;
            align-items: center;
            margin-top: 0;
            width: 100%;
            color: $plants-text;
            height: 25px;
            line-height: inherit;
            justify-content: space-between;

            .xoo-wsc-qtybox {
              border: solid 1px $success;
              padding: 0 2px;
            }

            .xoo-wsc-qty {
              color: $plants-text;
              font-family: $font-family-legal;
              -moz-appearance: textfield;
            }

            span.xoo-wsc-minus {
              border-right: none;
              width: auto;
            }

            span.xoo-wsc-plus {
              border-left: none;
              width: auto;
            }

            .xoo-wsc-ptotal {

              .woocommerce-Price-amount {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .xoo-wsc-footer {

    margin: 0 0 0 25px;
    background: none;
    border-top: none;
    padding: 0;
    font-family: $base-font-alternative;
    width: 300px;
    bottom: 23px;

    .xoo-wsc-footer-a {
      background: $body-background;
      color: $color_dark;
      margin-bottom: 0;
    }

    .xoo-wsc-footer-b {

      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 10px;

      .xoo-wsc-chkt {
        display: none;
      }

      .xoo-wsc-ft-btn {
        margin: 3px;
        padding: 7px 15px;
        background: $body-background;
        color: $plants-text;
        width: auto;
        border: solid $border-aspect $success;
      }

    }
  }
}

.xoo-wsc-basket {
  display: none !important;
}
