@import '../utils/variables';

.page-template-checkout {
  color: $color_dark;

  h3 {
    color: $color_dark;
    font-family: $base-font-alternative;
    text-transform: lowercase;
    font-size: 20px;
  }

  .create-account {

    margin-left: 20px;

    label {
      display: block;
      font-size: 18px;
      font-family: $base-font-alternative;
      color: $accent_inner;
      text-transform: lowercase;

      input {
        margin-top: 10px;
      }

    }
  }

  .woocommerce {

    h3.heading_checkout {
      color: $success;
      font-family: $base-font-alternative;
      text-transform: lowercase;
      font-size: 30px;
      text-align: center;
    }

    .woocommerce-info {
      color: $color_dark;
      font-family: $base-font;
      text-transform: lowercase;
      font-size: 20px;
      text-align: center;
      padding: 30px;

      a.showcoupon {
        display: none;
      }

      a.showlogin {
        text-decoration: underline;
        color: $color_dark;

        &:visited, &:active, &:focus, &:hover {
          color: $color_dark;
        }
      }
    }

    .woocommerce-error {
      text-align: center;
      padding: 10px;
      color: $error;
    }

    .woocommerce-NoticeGroup {

      float: left;
      width: 100%;

      .woocommerce-error {
        text-align: left;
        color: $error;
      }
    }

    .checkout_coupon {
      display: block !important;
      margin: 0 auto;
      text-align: center;

      .form-row {
        @include make-md-column(6);
        @include make-md-column-offset(3);

        &.form-row-first {

          input {
            border: 0;
            border-bottom: solid 3px $success;
            width: 180px;
            font-family: $base-font-alternative;
            color: $color_dark;
          }
        }

        &.form-row-last {

          button {
            @extend %button_light;
          }
        }
      }
    }

    .woocommerce-message {
      text-align: center;
    }

    .woocommerce-form-login {
      margin: 20px auto 80px auto;
      width: 80%;

      p.form-row {

        label {
          display: block;
          font-size: 18px;
          font-family: $base-font-alternative;
          color: $accent_inner;
          text-transform: lowercase;
        }

        input[type='text'], input[type='password'] {
          border: 0;
          border-bottom: solid 3px $success;
          width: 100%;
          font-family: $base-font-alternative;
          color: $color_dark;
        }

        button {
          @extend %button;
        }
      }
    }

  }

  form.woocommerce-checkout {

    margin: 20px auto 80px auto;
    width: 80%;

    .woocommerce-NoticeGroup-checkout {

      color: $error;
      font-family: $font-family-legal;

      .woocommerce-error {
        list-style: none;
      }
    }

    .col2-set {
      @include make-row();

      .col-1 {
        @include make-md-column(6);

        > h3 {
          position: absolute;
          font-family: $base-font-alternative;
          text-transform: lowercase;
          color: $success;
          left: 52%;
          top: 20px;
        }

        .woocommerce-billing-fields__field-wrapper {
          width: 90%;

          label {
            display: block;
            font-size: 18px;
            font-family: $base-font-alternative;
            color: $accent_inner;
            text-transform: lowercase;
          }

          input {
            border: 0;
            border-bottom: solid 2px $success;
            width: 100%;
            font-family: $base-font-alternative;
            color: $color_dark;
          }

          p {
            margin-bottom: 20px;
          }

          .select2-selection--single {
            border-radius: 0;
          }
        }

        .woocommerce-account-fields {
          width: 90%;
          padding-left: 20px;

          p.create-account {
            color: $color_dark;
            font-family: $base-font-alternative;
            text-transform: lowercase;
            font-size: 20px;

            input {
              margin-top: 11px;
            }
          }

          div.create-account {

            label {
              display: block;
              font-size: 18px;
              font-family: $base-font-alternative;
              color: $accent_inner;
              text-transform: lowercase;
            }

            input {
              border: 0;
              border-bottom: solid 2px $success;
              width: 100%;
              font-family: $base-font-alternative;
              color: $color_dark;
            }
          }
        }
      }

      .col-2 {
        @include make-md-column(6);

        .woocommerce-checkout-review-order {

          table.woocommerce-checkout-review-order-table {

            font-family: $font-family-legal;

            td.product-total {
              font-weight: bold;
            }

            thead {

              tr {

                th {
                  padding-bottom: 20px;
                  font-weight: bold;
                  font-size: 18px;
                }
              }
            }

            tbody {

              tr {

                td {
                  padding-right: 40px;
                }
              }
            }

            tfoot {

              tr {

                td {
                  padding-top: 20px;
                }

                &:nth-child(2) {
                  border-bottom: solid 2px $success;
                  padding-bottom: 20px;
                  padding-top: 10px;
                }
              }
            }

          }

          .form-row-first {

            input {
              border: 0;
              border-bottom: solid 2px $success;
              width: 100%;
              font-family: $base-font-alternative;
              color: $color_dark;
            }
          }

          .form-row-last {

            button {
              @extend %button_light;
            }
          }
        }

        .woocommerce-shipping-fields {

          > h3 {
            padding-left: 20px;
          }

          .woocommerce-shipping-fields__field-wrapper {
            label {
              display: block;
              font-size: 18px;
              font-family: $base-font-alternative;
              color: $accent_inner;
              text-transform: lowercase;
            }

            input {
              border: 0;
              border-bottom: solid 2px $success;
              width: 100%;
              font-family: $base-font-alternative;
              color: $color_dark;
            }
          }
        }

        .woocommerce-additional-fields {

          .woocommerce-additional-fields__field-wrapper {

            label {
              display: block;
              font-size: 18px;
              font-family: $base-font-alternative;
              color: $accent_inner;
              text-transform: lowercase;
            }

            textarea {
              border: 0;
              border-bottom: solid 2px $success;
              width: 100%;
              font-family: $base-font-alternative;
              color: $color_dark;
            }
          }

          .giftpack-checkbox {
            padding-left: 20px;

            label {
              display: block;
              font-size: 18px;
              font-family: $base-font-alternative;
              color: $accent_inner;
              text-transform: lowercase;

              input {
                margin-top: 10px;
              }
            }
          }
        }

        .woocommerce-checkout-payment {
          padding-top: 50px;

          ul {
            list-style: none;
          }

          .wc_payment_methods {
            font-family: $font-family-legal;

            .payment_method_stripe {

              label {
                display: flex;
                max-width: 100%;
                margin-bottom: 20px;
                font-weight: bold;
                justify-content: flex-start;
                align-items: flex-end;
                flex-direction: row;
              }

              p {
                font-family: $font-family-legal;
                font-size: 12px;
              }
            }
          }

          .place-order {

            button {
              @extend %button_light;
            }
          }
        }
      }
    }
  }

  .woocommerce-order {

    margin: 20px auto 80px auto;
    padding-top: 60px;
    width: 80%;

    .woocommerce-notice--success {
      color: $success;
      font-family: $base-font-alternative;
      text-transform: lowercase;
      font-size: 20px;
    }

    .woocommerce-thankyou-order-details {
      list-style: none;
      font-family: $font-family-legal;
    }

    .woocommerce-order-details {

      h2.woocommerce-order-details__title {
        color: $color_dark;
        font-family: $base-font-alternative;
        text-transform: lowercase;
        font-size: 20px;
      }

      .woocommerce-table--order-details {
        font-family: $font-family-legal;
        width: 70%;

        tr {
          border-bottom: solid 1px $color_head;
        }
      }
    }

    .woocommerce-customer-details {
      @include make-row();
      width: 70%;
      font-family: $font-family-legal;

      .woocommerce-column {

        h2.woocommerce-column__title {
          color: $color_dark;
          font-family: $base-font-alternative;
          text-transform: lowercase;
          font-size: 20px;
        }
      }

      .col-1 {
        @include make-md-column(6);
      }

      .col-2 {
        @include make-md-column(6);
      }
    }
  }

}

@media (max-width: $screen-sm-max) {
  .page-template-checkout {

    form.woocommerce-checkout {
      width: 90%;

      .col2-set {

        .col-1 {

          .woocommerce-billing-fields__field-wrapper {
            width: 100%;
          }
        }
      }
    }

    .woocommerce-order {

      .woocommerce-order-details {

        .woocommerce-table--order-details {
          width: 100%;
        }
      }
    }
  }
}