@import '../utils/variables';

.error404 {

  .site-content {
    margin: 100px 48px;
    min-height: 500px;

    .content-area {

      padding-top: 100px;

      .page-content {

        h1 {
          text-align: center;
          font-family: $base-font-alternative;
          color: $success;
        }

        p {
          font-family: $font-family-legal;
          text-align: center;
        }
      }
    }
  }

}