@import '../utils/variables';

h1 {
  font-family: $base-font-alternative;
  text-transform: lowercase;
  color: $color_dark;
  font-size: 32px;
}

h2 {
  font-family: $base-font;
  text-transform: lowercase;
  color: $color_dark;
  font-size: 30px;
}

h3 {
  font-family: $base-font-alternative;
  text-transform: lowercase;
  color: $color_dark;
  font-size: 20px;
}

h4 {
  font-family: $base-font-alternative;
  text-transform: lowercase;
  color: $color_dark;
  font-size: 15px;
}

p{
  font-size: 18px;
  line-height: 30px;
}