@import '../utils/variables';
@import '../utils/mixins';

Header.site-header {
  margin: 0 10px 15px 0;
  position: fixed;
  top: 0;
  font-family: $base-font-bold;
  padding: 0 48px 20px 48px;
  height: 95px;
  width: 100%;
  z-index: 1001;

  .top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-logo-link {
    img {
      max-width: 243px;
    }
  }

  .top-header {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;

    .top-nav {
      display: flex;
      position: relative;
      align-items: flex-end;

      ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: flex-start;
        margin-left: 0;

        li {

          margin-right: 40px;

          &.logged-in {
            display: none;
          }

          a {
            bottom: -6px;
            position: relative;
            text-transform: lowercase;
            font-size: $base-font-size;

            &:hover {
              text-decoration: none;
              color: $color_dark;

              &:after {

                @include afterBar($success);
              }
            }

            &:focus, &:visited, &:active {
              text-decoration: none;
              color: $color_dark;
            }
          }

          &.current-menu-item a {

            &:after {
              @include afterBar($success);
            }
          }
        }
      }

      .menu-secondary-menu-container {
        width: 90%;
        float: left;
      }

      .cart-desktop {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        float: left;
        width: 31px;
        height: 25px;
        justify-content: flex-end;
        align-items: center;

        a {
          display: flex;
          width: 31px;
          height: 25px;
          font-size: 12px;
          cursor: pointer;
          background: url('assets/images/cart@2x.png') no-repeat center;
          background-size: cover;
          justify-content: center;
          align-items: flex-end;

          &:hover {
            text-decoration: none;
          }
        }

        .cart-total {
          line-height: normal;
          padding-bottom: 2px;
        }
      }

      &.secondary-nav {

        ul {
          justify-content: flex-end;

          li {
            margin-right: 0;
            margin-left: 40px;
          }
        }
      }
    }
  }

  .main-nav {

    ul {

      li {
        text-align: left;
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .cart-mobile {
    display: none;
  }
}

.site-content {
  .featured-hero {
    height: 762px;
  }
}

/*
 * User Status
 */
body.logged-in {

  Header.site-header .top-header .top-nav ul li {
    &.logged-out {
      display: none;
    }

    &.logged-in {
      display: list-item;
    }
  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {

  Header.site-header {
    display: flex;
    margin: 0;
    position: fixed;
    padding: 0;
    flex-direction: row;
    z-index: 10;
    height: 50px;

    .nav-mobile {
      display: flex;
      flex: 1;
      margin-left: $margin-base;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin-bottom: 12px;
      z-index: 100;

      a {
        cursor: pointer;
      }
    }

    .top-logo {
      padding-bottom: 5px;

      .logo-wrapper {
        img {
          max-width: 137px;
        }
      }
    }

    .cart-mobile {
      display: flex;
      flex: 1;
      margin-right: $margin-base;
      z-index: 100;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 6px;

      a {
        display: flex;
        font-size: 11px;
        padding-bottom: 5px;
        width: 31px;
        height: 31px;
        cursor: pointer;
        background: url('assets/images/cart@2x.png') no-repeat;
        justify-content: center;
        align-items: center;
        background-size: 30px;
      }

      .cart-total {
        padding-top: 8px;
      }
    }

    .top-nav {
      display: none !important;
    }

    .mobile-menu {
      display: block;
    }

    .cart-desktop {
      display: none;
    }
  }

  .nav-mobile {
    .menu-mobile {
      width: 30px;
    }
  }

}

body.admin-bar {
  header.site-header {
    top: 32px;
  }
}

@media (min-width: 768px) {
  Header.site-header {

  }
}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {
  Header.site-header {

    .top-header {

      .top-nav {

        &.secondary-nav {
          ul {
            li {
              margin-right: 0;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}