@import '../utils/variables';

html {
  -webkit-text-size-adjust: 100%;
}

.site-content {

  margin-right: $margin-base-inner;
  margin-left: $margin-base-inner;

  .main-hero {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 762px;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    z-index: 5;

    .storefront-hero__button-edit {
      position: absolute;
      top: 2px;
      left: 45px;
      padding: 5px 15px;
      font-family: $font-family-legal;
      background-color: $body-background;
      width: 200px;
    }
  }

  .entry-hero {
    text-align: center;
    margin-bottom: 100px;

    .hero-text {

      padding-bottom: 30px;
      text-transform: lowercase;
      color: $body-background;
      text-shadow: 2px 0 1px rgba(0, 0, 0, 0.5);
      letter-spacing: 3px;

      h1 {
        font-family: $base-font-alternative;
        text-transform: lowercase;
        color: $body-background;
        font-size: 32px;
        letter-spacing: 3px;
      }

      p {
        text-transform: lowercase;
        color: $body-background;
        padding: 0 60px;
      }

      h3 {
        font-family: $base-font;
        text-transform: lowercase;
        color: $body-background;
        font-size: 30px;
        padding: 0 60px;
      }

    }
  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {
  .site-content {
    margin-right: $margin-base;
    margin-left: $margin-base;

    .main-hero {
      margin-bottom: 0;
      background-size: cover;
      background-position: center;
      min-height: 303px;

      .storefront-hero__button-edit {
        position: absolute;
        top: 2px;
        left: 20px;
        padding: 5px 15px;
        font-family: $font-family-legal;
        background-color: $body-background;
        width: 200px;
      }

      .entry-hero {
        position: absolute;
        top: 287px;
        left: 0;
        width: 100%;

        .hero-text {

          padding: 20px 0;
          text-align: center;

          h1 {
            font-family: $base-font-alternative;
            text-transform: lowercase;
            color: $color_dark;
            font-size: 28px;
            letter-spacing: 1px;
            text-shadow: none;
          }

          h3 {
            font-family: $base-font;
            text-transform: lowercase;
            color: $color_dark;
            font-size: 22px;
            text-shadow: none;
            padding: 0;
            letter-spacing: 0.6px;
          }
        }

        a {
          background: $color_body;
        }
      }
    }
  }
}
