@import '../utils/variables';

.archive {

  .products {
    @include make-row();
    margin-right: 3em;
    list-style: none;

    li.product {
      @include make-md-column(4);
      min-height: 512px;
      list-style: none;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: $color_dark;
        }

        img {
          margin: 0 auto;
        }

        h2.woocommerce-loop-product__title {
          font-family: $base-font-bold;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: $color_dark;
          text-transform: lowercase;
          margin-bottom: 0;
          margin-top: 0;
        }

        span.price {
          display: block;
          width: 100%;
          text-align: center;
          font-family: $font-family-legal;
          font-size: 12px;
        }

        .bloomscape-size {
          font-family: $font-family-legal;
          font-size: 12px;
          text-align: center;
          margin-top: 10px;
          text-transform: uppercase;
        }
      }

      &.unmatched {
        opacity: 0.3;
      }
    }
  }

  .woocommerce-pagination {
    display: none;
  }

  .bloom-sidebar {
    form {
      position: absolute;
    }
  }

  .hero-image-module-wrapper {
    margin: 60px auto;
    width: 90%;
  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {
  .archive {
    .products {
      @include make-row();
      margin-right: 0;

      li.product {
        @include make-sm-column(6);
        padding-right: 0;
        margin-bottom: 30px;

        &.unmatched {
          display: none;
        }

      }
    }

    .bloom-sidebar {

      form {
        position: static;
      }
    }

    .site {

      .plants-made {
        margin: 0 0;
      }
    }
  }
}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {
  .archive {
    .products {
      @include make-row();
      margin-right: 0;

      li.product {
        @include make-sm-column(6);
        padding-right: 0;
      }
    }

    .bloom-sidebar {
      form {
        position: static;
      }
    }
  }
}
