@import '../utils/variables';

.instagram-module-wrapper {

  margin: 50px 0;
  text-align: center;
  position: relative;
  z-index: 4;
  overflow: hidden;

  h2.instagram-module-title {
    margin: 50px 0;
    font-weight: 700;
    color: $color_dark;
    font-family: $base-font-alternative;
    text-align: center;
  }

  .instagram-pictures {
    display: flex;
    justify-content: center;

    .instagram-module-single {

      a {
        display: block;
        width: 276px;

        img {
          width: 100%;
        }

      }
    }
  }

  a.instagram-link {
    display: block;
    margin: 50px 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 18px;
    color: $color_dark;
    font-family: $base-font-alternative;
    text-align: center;
  }
}

@media (max-width: $screen-sm-max) {
  .instagram-module-wrapper {

    h2.instagram-module-title {
      margin: 10px 14px;
      text-align: center;
    }

    a.instagram-link {
      margin: 20px 14px;
      text-align: center;
    }


    .instagram-pictures {
      display: block;

      .instagram-module-single {

        a {
          display: block;
          width: auto;

          img {
            margin: 0 auto;
            width: 85%;
          }

        }
      }
    }

    .prevArrow {
      z-index: 1;
      position: absolute;
      top: 42%;
      font-size: 30px;
      color: $success;
      left: 0;
    }

    .nextArrow {
      z-index: 1;
      position: absolute;
      top: 42%;
      right: 0;
      font-size: 30px;
      color: $success;
    }
  }
}