@import '../utils/variables';

.page-template-landing-page{
	.introduction-section{
		margin: 0 auto;
		margin-bottom: 9.5rem;
		max-width: 1255px;

		@media (max-width: $screen-sm-max) {
			padding: 0 2rem;
		}

		@media (max-width: $screen-xs-max) {
			padding: 0 1.8rem;
		}

		h1{
			padding-left: 60px;
			position: relative;

			&:before{
				content: '';
				background: #02ae56;
				width: 50px;
				height: 5px;
				position: absolute;
				bottom: 5px;
				left: 0;
			}
		}
	}

	.image-text-modules-wrapper{
		padding: 0 100px;

		@media (max-width: $screen-sm-max) {
			padding: 0 30px;
		}

		@media (max-width: $screen-xs-max) {
			padding: 0 20px;
		}

		.image-text-module{
			margin-bottom: 9.5rem;

			@media (max-width: $screen-sm-max) {
				margin-bottom: 4rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-bottom: 4rem;
			}

			.images{
				padding: 0 30px;

				@media (max-width: $screen-sm-max) {
					padding: 30px 0;
				}

				@media (max-width: $screen-xs-max) {
					padding: 30px 0;
				}
			}

			.text{
				.btn{
					margin-top: 1rem;
				}
			}
		}
	}

	.main-hero{
		margin-bottom: 9.5rem;

		.hero-text{
			h2{
				color: #fff
			}
		}

		@media (max-width: $screen-sm-max) {
			margin-bottom: 20rem
		}

		@media (max-width: $screen-xs-max) {
			margin-bottom: 25rem;
		}
	}

	.hero-single-image{
		margin-bottom: 10rem;
	}

	.plants-made{
		margin-top: 10px;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 10rem;
		}
	}

	.products-custom-group{
		margin-bottom: 1rem;

		@media (max-width: 1024px) {
			margin-bottom: 0;
		}
	}
}