@import '../utils/variables';

.newsletter-module-wrapper {
  @include make-row();
  margin: 60px -50px;
  background: $color_body;

  .newsletter-inner {
    @include make-md-column(12);
    display: flex;
    padding: 80px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .gform_wrapper {

      .gform_body {
        float: left;
        border-bottom: solid $border-aspect $success;
        margin-right: 5px;
        width: 180px;
        position: relative;
      }

      .gform_footer {
        float: left;

        .gform_button {
          background: transparent;
          border: 0;
          color: $success;
          font-size: 19px;
        }
      }

      .gfield_label {
        display: none;
      }

      .ginput_container_email {

        input {
          background: none;
          font-family: $base-font-alternative;
          font-size: 16px;
          color: $color_links;
          border: 0;
          width: 180px;

          &::placeholder {
            font-family: $base-font-alternative;
            font-size: 20px;
            color: $accent_inner;
          }
        }
      }
    }

    h3.newsletter-module-title {
      margin: 0 0 60px 0;
      color: $color_dark;
      text-align: center;
      padding: 0 40px;
      font-family: $base-font-alternative;
    }

    > div {

      input {

        &::placeholder {
          font-family: $base-font-alternative;
          font-size: 20px;
          color: $accent_inner;
        }
      }
    }

    .newsletter-button {
      position: absolute;
      top: 0;
      right: -16px;
      margin-left: 10px;
      float: left;
      padding-top: 3px;

      a {
        color: $success;
        font-size: 19px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

.gform_confirmation_message {
  font-family: $base-font-alternative;
  font-size: 20px;
}

/*
 * Mobile
 */
@media (max-width: $screen-sm-max) {

  .newsletter-module-wrapper {
    margin: 60px -20px;

    .newsletter-inner {
      align-items: flex-start;
      left: 42px;
      width: 82%;

      h3.newsletter-module-title {
        text-align: left;
        padding: 0;
      }

      > div {


        input {


        }
      }
    }

  }
}