@import '../utils/variables';

.product-template-default {

  .content-area {
    margin: 0 auto;
    max-width: 1280px;
  }

  .product {
    @include make-row();
    display: flex;

    .images {
      margin: 0;
      width: calc(100% - 480px);
      padding: 0;
      background: $color_body;

      .slick-slider {
        margin-bottom: -10px;

        .slick-prev {
          left: 10px;
          z-index: 1000;

          &:before {
            font-size: 30px;
            color: $success;
          }
        }

        .slick-list {

          .slick-slide {

            > div {
              width: 100%;
            }
          }
        }

        .slick-prev {
          opacity: 1;
        }

        .slick-next {
          opacity: 1;
          right: 10px;

          &:before {
            font-size: 30px;
            color: $success;
          }
        }
      }

      .wpis-slider-nav {
        display: none;
      }

      .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }

    .bloom-summary-wrapper {

      display: flex;
      background: $color_body;
      padding-left: 43px;
      min-width: 480px;
      margin-bottom: -2px;
      flex-direction: column;
      justify-content: flex-start;

      .added_to_cart {
        display: none;
      }

      .woocommerce-product-gallery {
        @include make-md-column(8);
        padding: 0;

        .woocommerce-product-gallery__trigger {
          display: none;
        }

        .woocommerce-product-gallery__wrapper {
          .woocommerce-product-gallery__image {
            margin-right: 48px;

            a {

              img {
                width: 100%;
              }
            }
          }
        }
      }

      .entry-summary {
        @include make-md-column(12);
        margin: 40px -15px 0 -15px;
        background: $body-background;
        padding-left: 30px;
        padding-right: 30px;
        color: $color_dark;
        flex: 1;

        .entry-title {
          padding: 0 30px;
          font-size: 28px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 32px;
          text-align: center;
          font-family: $base-font;
          color: $color_dark;
        }

        .woocommerce-product-details__short-description {
          color: $color_dark;
          font-family: $base-font;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          padding: 0 30px;
        }

        .price {
          text-align: center;
        }

        .bottom-helper {
          border-bottom: solid 3px $success;
          padding: 10px 30px;
          margin-bottom: 20px;
          text-align: center;

          a {
            display: none;
            color: $success;
            text-transform: uppercase;
            font-family: $font-family-legal;
            font-size: 12px;
          }
        }

        .plant-custom-attrs-wrapper {
          border-bottom: solid 3px $success;
          margin-bottom: 20px;

          & > .plant-custom-attr {

            &:nth-child(odd) {
              @include make-row();
              min-height: 20px;

              & > .plant-custom-attr-title {
                @include make-md-column(5);
                @include make-xs-column(7);
                text-transform: uppercase;
                color: $color_dark;
                font-family: $font-family-legal;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2px;
                line-height: 19px;
              }

              & > .plant-custom-attr-value {
                @include make-md-column(7);
                @include make-xs-column(5);

                .plant-size-value {
                  font-size: 14px;
                  font-weight: bold;
                  letter-spacing: 3px;
                  line-height: 19px;
                  color: $accent_inner;
                  font-family: $font-family-legal;
                  text-align: right;

                  span {
                    margin: 0 6px;

                    &:last-child {
                      margin-right: 0;
                    }

                    &.active {
                      color: $success;
                    }
                  }
                }

                .plant-difficulty-value {
                  span {
                    display: block;
                    width: 33.3%;
                    float: left;
                    height: 22px;
                    background: url('assets/images/leaf.svg') no-repeat center right;

                    &.active {
                      background: url('assets/images/leaf-active.svg') no-repeat center right;
                    }
                  }
                }

                .plant-light-value {

                  span {
                    display: block;
                    width: 33.3%;
                    float: left;
                    height: 22px;

                    &.level-none {
                      background: url('assets/images/sun-none.svg') no-repeat center right;

                      &.active {
                        background: url('assets/images/sun-none-active.svg') no-repeat center right;
                      }
                    }

                    &.level-partial {
                      background: url('assets/images/sun-partial.svg') no-repeat center right;

                      &.active {
                        background: url('assets/images/sun-partial-active.svg') no-repeat center right;
                      }
                    }

                    &.level-full {
                      background: url('assets/images/sun-full.svg') no-repeat center right;

                      &.active {
                        background: url('assets/images/sun-full-active.svg') no-repeat center right;
                      }
                    }
                  }
                }

                .boolean-selector {
                  font-size: 14px;
                  font-weight: bold;
                  letter-spacing: 3px;
                  line-height: 19px;
                  color: $accent_inner;
                  font-family: $font-family-legal;
                  text-align: right;

                  span {
                    margin: 0 6px;

                    &:last-child {
                      margin-right: 0;
                    }

                    &.active {
                      color: $success;
                    }
                  }
                }
              }
            }

            &:nth-child(even) {
              @include make-row();
              min-height: 15px;
              font-size: 11px;
              text-align: right;
              font-family: $font-family-legal;
              margin-bottom: 20px;

              & > .plant-custom-attr-title {
                display: none;
              }

              & > .plant-custom-attr-value {
                @include make-xs-column(12);
              }
            }
          }
        }

        .variations_form {

          &:before {
            content: 'Choose Pot Style';
            text-transform: uppercase;
            color: $color_dark;
            font-family: $font-family-legal;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 19px;
            margin-bottom: 30px;
          }

          .variations {

            margin-top: 30px;

            .label {
              display: none;
            }

            .value {

              .swatch-control {
                display: flex;
                justify-content: space-evenly;

                .swatch-wrapper {
                  border: none;
                  width: 54px;
                  height: 60px;

                  img {
                    width: 54px;
                    height: 54px;
                  }

                  &.selected {
                    border-bottom: solid 2px $success;
                  }
                }
              }

              .reset_variations {
                display: none !important;
              }

              .swatch-label {
                display: none !important;
              }
            }
          }
        }
      }

      .button-cta {
        align-self: center;
        padding: 20px 0;

        .single_add_to_cart_button {
          position: relative;
          padding: 5px 15px;
          font-family: $base-font-alternative;
          background-color: $body-background;
          text-transform: lowercase;
          color: $color-dark;
          font-size: 17px;
          font-weight: 600;
          min-width: 180px;
          border: solid $border-aspect $success;
        }
      }

      .bloom-checkout {
        @include make-md-column(12);
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
        padding: 0;

        .quantity-label-dropdown {
          @include make-md-column(6);
          display: block;
          text-transform: uppercase;
          color: $color_dark;
          font-family: $font-family-legal;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 19px;
        }

        .custom-dropdown {
          margin-left: 5px;
          margin-top: 10px;
          width: 100%;
          position: relative;

          .btn-group {
            @include make-md-column(6);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .btn-default {
              border-color: $body-background;
            }

            .dropdown-toggle {
              color: $success;
            }
          }
        }

        .single_variation_wrap {
          width: 100%;

          .woocommerce-variation {
            display: none !important;
          }

          .wrapper-cart-button {
            text-align: center;
          }
        }

        .added_to_cart {
          display: none;
        }

        .StripeElement {
          width: 200px;
        }

        p {
          font-family: $font-family-legal;
        }
      }

      &.giftCard{
        .woocommerce-Price-amount, .woocommerce-product-details__short-description, .plant-custom-attrs-wrapper {
          display: none;
        }
      }
    }
  }

  .upsells {
    margin: 42px 0;

    > h2 {
      color: $color_dark;
      font-size: 32px;
      font-weight: 600;
      font-family: $base-font-alternative;
      margin-bottom: 97px;

      &:before {
        top: 3px;
        position: relative;
        font-size: 35px;
        content: '+';
        color: $success;
        margin-right: 20px;
      }
    }

    ul.products {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      list-style: none;

      li {

        &:first-child {
          margin-left: 100px;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: $color_dark;
          }

          img {
            margin: 0 auto;
            width: 293px;
            height: 353px;
          }

          h2.woocommerce-loop-product__title {
            font-family: $base-font-bold;
            font-size: 18px;
            text-align: center;
            color: $color_dark;
            text-transform: lowercase;
            margin-bottom: 0;
            margin-top: 0;
          }

          span.price {
            display: block;
            width: 100%;
            text-align: center;
            font-family: $font-family-legal;
            font-size: 12px;
          }

          .bloomscape-size {
            font-family: $font-family-legal;
            font-size: 12px;
            text-align: center;
            margin-top: 10px;
            text-transform: uppercase;
          }
        }

      }
    }
  }

  .pdp-description-module-wrapper {
    @include make-row();
    margin: 50px 0;
    color: $color_dark;

    .pdp-description-image {
      @include make-md-column(6);

      img {
        position: absolute;
        left: -50px;
      }
    }

    .pdp-description-info {
      @include make-md-column(6);
      font-size: 16px;
    }

    .pdp-whats-included-wrapper {
      background: $color_body;
      padding: 25px;
      font-family: $font-family-legal;

      .pdp-whats-included-subwrapper {
        background: $body-background;
        padding: 30px;

        ul {
          list-style: disc;
          margin-left: 15px;

          li {
            font-size: 12px;
            line-height: 25px;
          }
        }

        p {
          margin: 5px 0 20px 0;
          color: $color_dark;
          font-size: 12px;
          font-family: $font-family-legal;
          text-transform: uppercase;
        }
      }
    }
  }

  .pdp-image-module-wrapper {
    @include make-row();
    margin-bottom: 60px;

    .image-container {
      @include make-md-column(12);

      img {
        width: 100%;
      }
    }
  }

  .instagram-module-wrapper {
    margin: 0;
    background: $color_body;
    padding: 5px 0;
  }
}

.quantity-label-dropdown {
  display: none;
}

/*
 * Mobile
 */
@media (max-width: $screen-sm-max) {
  .product-template-default {

    .product {
      display: block;

      .images {
        min-height: 300px;
        width: 100%;

        .slick-slider {

          .slick-prev {
            display: block !important;
          }

          .slick-next {
            display: block !important;
          }

        }

        .slick-slide {

          img {
            height: auto;
            width: 100%;
          }
        }

      }

      .bloom-summary-wrapper {
        margin-top: -31px;
        background: $color_body;
        padding-left: 0;
        padding-right: 0;
        min-height: auto;
        min-width: auto;
        padding-bottom: 25px;

        .woocommerce-product-gallery {

          .woocommerce-product-gallery__wrapper {

            .woocommerce-product-gallery__image {
              margin-right: 0;

            }
          }
        }

        .entry-summary {
          margin: 30px $margin-base;
          padding-left: 38px;
          padding-right: 38px;

          .entry-title {
            padding-top: 30px;
          }

          .bottom-helper {
            a {
              display: block;
            }
          }

          .plant-custom-attrs-wrapper {
            display: none;
          }
        }

        &.giftCard{
          .entry-summary {
            .bottom-helper {
              a {
                display: none;
              }
            }
          }
        }

        .bloom-checkout {
          @include make-md-column(12);
          padding-left: 0 !important;
          padding-right: 0 !important;

          .quantity-label-dropdown {
            @include make-sm-column(6);
          }

          .custom-dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-group {
              @include make-sm-column(6);

              .btn-default {
                border-color: $body-background;
              }
            }
          }

          .bootstrap-select {
            width: 100px;
          }
        }
      }
    }

    .upsells {

      > h2 {
        text-align: center;
        margin-bottom: 40px;
      }

      ul.products {
        @include make-row();
        display: block;

        li {
          @include make-md-column(4);
          margin-bottom: 30px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .pdp-description-module-wrapper {

      .pdp-description-image {

        img {
          position: relative;
          left: -2em;
        }
      }

    }

  }
}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {

  .product-template-default {

    .product {
      display: block;

      .images {
        min-height: 300px;
        width: 100%;

        .slick-slider {

          .slick-prev {
            display: block !important;
          }

          .slick-next {
            display: block !important;
          }

        }

        .slick-slide {

          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }

    .bloom-summary-wrapper {
      display: block;
      background: $color_body;
      padding-left: 0;
      padding-right: 0;
      min-height: auto;
      min-width: auto;

      .woocommerce-product-gallery {

        .woocommerce-product-gallery__wrapper {

          .woocommerce-product-gallery__image {
            margin-right: 0;

          }
        }
      }

      .entry-summary {
        margin: 30px $margin-base;
        padding-left: 38px;
        padding-right: 38px;
      }

      .bloom-checkout {
        @include make-md-column(12);
        padding-left: 0 !important;
        padding-right: 0 !important;

        .quantity-label-dropdown {
          @include make-xs-column(6);
        }

        .custom-dropdown {

          .btn-group {
            @include make-xs-column(6);

            .btn-default {
              border-color: $body-background;
            }
          }
        }

        .bootstrap-select {
          width: 100px;
        }
      }
    }

    .upsells {

      > h2 {
        color: $color_dark;
        font-size: 32px;
        font-weight: 600;
        line-height: 18px;
        font-family: $base-font-alternative;

        &:before {
          top: 3px;
          position: relative;
          font-size: 35px;
          content: '+';
          color: $success;
          margin-right: 20px;
        }
      }

      ul.products {
        @include make-row();

        li {
          @include make-md-column(5);

          &:first-child {
            @include make-md-column-offset(1);
          }

          a {
            text-decoration: none;

            &:hover {
              text-decoration: none;
              color: $color_dark;
            }

            img {
              margin: 0 auto;
              width: 220px;
              height: 280px;
            }

            h2.woocommerce-loop-product__title {
              font-family: $base-font-bold;
              font-size: 18px;
              line-height: 25px;
              text-align: center;
              color: $color_dark;
              text-transform: lowercase;
              margin-bottom: 0;
              margin-top: 0;
            }

            span.price {
              display: block;
              width: 100%;
              text-align: center;
              font-family: $font-family-legal;
              font-size: 12px;
            }

            .bloomscape-size {
              font-family: $font-family-legal;
              font-size: 12px;
              text-align: center;
              margin-top: 10px;
              text-transform: uppercase;
            }
          }

        }
      }
    }
  }
}