@import '../utils/variables';

.blog, .archive, .single, .page-template-plant-care-archive {

  .site-content {

    .content-area {
      margin: 0 auto;
      max-width: 1280px;

      .plantcare-submenu {

        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 15px;
        width: 80%;

        ul {
          display: block;
          justify-content: space-evenly;
          text-align: center;

          li {
            display: inline;
            font-family: $font-family-legal;
            text-transform: uppercase;
            padding: 0 20px;

            a {
              color: $success;
            }
          }
        }
      }

      .plant-care-hero {
        display: flex;
        min-height: 500px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-size: cover;

        .plant-care-hero-info {
          display: flex;
          padding: 0 30px;
          background: $body-background;
          height: 233px;
          width: 475px;
          margin-left: 8%;
          justify-content: center;
          align-items: center;

          h2 {
            color: $color_dark;
            font-family: $base-font;
            line-height: 43px;
          }

          p.service-text {
            color: $color_dark;
            font-family: $font-family-legal;
            font-size: 14px;
            padding: 0;
            text-transform: uppercase;
          }
        }
      }

      .plant-care-content-wrapper {

        @include make-row();
        margin: 80px 0 0 0;
        padding-bottom: 80px;
        color: $color_dark;
        position: relative;

        .plant-care-element {
          position: absolute;
          top: 0;
          right: 0;
          width: 130px;
          height: 130px;
          background-image: url('/wp-content/themes/bloomscape/assets/images/plant-care-element@2x.png');
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 2;
        }

        .plant-care-wrapper {
          @include make-md-column(9);
          padding-left: 0;

          .plant-care-box {
            @include make-md-column(4);
            min-height: 440px;
            margin-bottom: 70px;
            padding: 0;

            .plant-care-image {

              img {
                margin: 0 auto;
              }
            }

            h3 {
              margin: 0;
              color: $color_dark;
              font-size: 20px;
              font-weight: bold;
              text-align: center;
              line-height: 20px;
              padding: 0 40px;

              a {
                color: $color_dark;

                &:visited, &:active, &:hover {
                  color: $color_dark;
                }
              }
            }

            p {
              margin: 0;
              color: $color_dark;
              font-family: $font-family-legal;
              font-size: 12px;
              text-align: center;
              padding: 20px 0 10px 0;
            }
          }
        }

        .plant-care-archive-wrapper {
          @include make-md-column(3);
          background: $color_body;
          padding: 25px;

          .plant-care-archive {
            background: $body-background;
            min-height: 100vh;
            text-align: center;

            .plant-care-archive-container {
              margin: 0 auto;
              width: 80%;

              h3 {
                margin: 0;
                padding-top: 20px;
                font-family: $base-font-alternative;
                color: $color_dark;
                font-size: 20px;
                text-transform: lowercase;
                text-align: left;
              }

              ul {
                text-align: left;
                margin-top: 60px;

                li {

                  padding: 5px 0;

                  a {
                    color: $color_dark;
                    font-family: $font-family-legal;
                    font-size: 12px;
                  }
                }
              }
            }

          }

        }
      }
      color: $color_dark;

      .hentry {

        &.post, &.page {
          margin: 0 auto;
          width: 880px;

          .entry-header {

            h2 {
              padding-bottom: 30px;
            }

            h4 {
              font-family: $font-family-legal;
              letter-spacing: 2px;
              padding: 10px 0 20px 0;
              text-transform: uppercase;
            }
          }

          p {
            font-size: 18px;
            line-height: 30px;
            padding: 20px 0;
          }

          .plant-care-post-image {
            margin-bottom: 100px;
          }
        }

        .author-date {
          font-family: $font-family-legal;
          font-size: 12px;
          color: $color_dark;

          .label {
            font-family: $font-family-legal;
            font-size: 12px;
            color: $color_dark;
            padding: 0 20px 0 0;
          }
        }

        .social-share {
          margin-top: 20px;

          ul {

            li {
              display: inline;
              margin-right: 20px;

              a {
                color: $success;
                font-size: 20px;
              }
            }
          }
        }

        .plant-care-related {
          @include make-row();
          margin-top: 100px;

          > h4 {
            color: $color_dark;
            font-size: 32px;
            font-weight: 600;
            font-family: $base-font-alternative;
            margin-bottom: 67px;

            &:before {
              top: 3px;
              position: relative;
              font-size: 35px;
              content: '+';
              color: $success;
              margin-right: 20px;
            }
          }


          .plan-care-wrapper{
            display: flex;
            flex-wrap: wrap;
          }

          .plant-care-box {

            @include make-md-column(4);
            min-height: 440px;
            margin-bottom: 70px;

            .plant-care-image {

              img {
                margin: 0 auto;
              }
            }

            h3 {
              margin: 0;
              color: $color_dark;
              font-size: 20px;
              font-weight: bold;
              text-align: center;
              line-height: 20px;
              padding: 0 40px;

              a {
                color: $color_dark;

                &:visited, &:active, &:hover {
                  color: $color_dark;
                }
              }
            }

            p {
              margin: 0;
              color: $color_dark;
              font-family: $font-family-legal;
              font-size: 12px;
              text-align: center;
              padding: 20px 0 10px 0;
            }
          }
        }

        &.page {
          .entry-content {
            margin-bottom: 100px;
            column-count: 2;
            font-size: 18px;

            h1 {
              text-transform: lowercase;
              color: $color_dark;
            }

            h2 {
              text-transform: lowercase;
              color: $color_dark;
            }

            h3 {
              text-transform: lowercase;
              color: $color_links;
            }

            h4 {
              text-transform: lowercase;
              color: $color_links;
            }

          }
        }
      }

    }
  }
}

@media (max-width: $screen-sm-max) {

  .blog, .archive, .single, .page-template-plant-care-archive {

    .site-content {

      .content-area {

        .plant-care-hero {
          min-height: 200px;
          position: relative;

          .plant-care-hero-info {

            position: absolute;
            top: 240px;
            margin-left: 0;
            width: 100%;

            p.service-text {
              padding-bottom: 0;
            }

          }
        }

        .plant-care-content-wrapper {

          .plant-care-element {
            display: none;
          }

          .plant-care-wrapper {
            @include make-md-column(9);
            margin-top: 200px;

            .plant-care-box {
              @include make-md-column(6);
              min-height: 440px;
            }
          }

        }

        color: $color_dark;

        .hentry {

          &.post, &.page {
            margin: 0 auto;
            width: 90%;

            .entry-header {

              h2 {
                color: $color_dark;
                font-size: 32px;
                font-weight: bold;
                padding-bottom: 30px;
              }

              h4 {
                font-family: $font-family-legal;
                font-size: 14px;
                letter-spacing: 2px;
                padding: 10px 0 20px 0;
                text-transform: uppercase;
              }
            }

            p {
              font-size: 18px;
              line-height: 30px;
              padding: 20px 0;
            }

            .plant-care-post-image {
              margin-bottom: 100px;
            }
          }

          .plant-care-related {

            > h4 {
              font-weight: 600;
              text-align: center;
              margin-bottom: 30px;
            }

            .plant-care-box {
              margin-bottom: 20px;
            }
          }

          &.page {
            .entry-content {
              column-count: 1;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {

  .blog, .archive, .single, .page-template-plant-care-archive {

    .site-content {

      .content-area {

        .plant-care-content-wrapper {

          .plant-care-wrapper {
            @include make-md-column(9);

            .plant-care-box {
              @include make-md-column(6);
              min-height: 440px;

            }
          }

        }

        color: $color_dark;

        .hentry {

          &.post, &.page {
            margin: 0 auto;
            width: 90%;

            .entry-header {

              h2 {
                color: $color_dark;
                font-size: 32px;
                font-weight: bold;
                padding-bottom: 30px;
              }

              h4 {
                font-family: $font-family-legal;
                font-size: 14px;
                letter-spacing: 2px;
                padding: 10px 0 20px 0;
                text-transform: uppercase;
              }
            }

            p {
              font-size: 18px;
              line-height: 30px;
              padding: 20px 0;
            }

            .plant-care-post-image {
              margin-bottom: 100px;
            }
          }
        }
      }
    }
  }
}