@import '../utils/variables';

.plants-made {
  margin: 100px -50px;
  position: relative;
  background: $color_body;
  padding: 30px;

  h3 {
    font-family: $base-font-alternative;
    color: $color_dark;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }

  .content-box {
    text-align: center;

    .box-image {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      min-height: 193px;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 auto;
        height: auto;
        width: 100px;
      }
    }

    .box-label {
      margin: 20px 0;

      h4 {
        font-size: 20px;
      }
    }

    .box-text {
      margin: 0 auto;
      width: 60%;

      p {
        font-family: $base-font;
        color: $plants-text;
        font-size: 18px;
        line-height: 30px;
      }
    }

    .box-link{
      a{
        color: $success;
        font-size: 16px;

        &::after{
          content: " »";
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .plants-made {
    margin-top: 235px;
    margin-bottom: 40px;

    .content-box {
      margin-bottom: 70px;
    }
  }
}

@media (max-width: $screen-xs-mini) {
  .plants-made {
    margin-top: 235px;

    .content-box {
      margin-bottom: 70px;
    }
  }
}