@import '../utils/variables';

.products-custom-group{
  overflow: hidden;
  margin: 0 auto;
  max-width: 1282px;
  width: 96.536%;

  .products{
    margin: 0;

    li{
      &.product{
        width: 25%
      }

      @media (max-width: $screen-sm-max) {
        &.product{
          width: 50%
        }
      }

      @media (max-width: $screen-xs-max) {
        &.product{
          padding: 0;
          width: 100%
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    width: 83.94%;
  }
}

