@import '../utils/variables';
@import '../utils/mixins';

.sidebar {
  @extend %shadow;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: $body-background;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.2s;

  .close-mobile-nav {
    color: $success;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    margin-left: 35px;

    &:hover {
      text-decoration: none;
    }
  }

  .mobile-navigation {
    margin-left: 37px;
    position: relative;

    ul.menu {
      list-style: none;

      li.menu-item {
        height: 40px;

        a {
          text-transform: lowercase;
          font-weight: bold;
          font-size: 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .primary-navigation {
    display: block;
  }

  .menu-secondary-menu-container {

    ul {

      li {

        &:last-child {
          display: none;
        }
      }
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 15;
  right: -100%;
  top: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  overflow-x: hidden;
  transition: 0.2s;
}