@import '../utils/variables';

.title-box-module-wrapper {

  margin: 0 auto;
  padding: 20px 10%;
  max-width: 1280px;


  h1 {
    margin: 30px 0;
    position: relative;
    font-family: $base-font-alternative;
    padding-left: 60px;

    &:before {
      content: '';
      background: $success;
      width: 50px;
      height: 5px;
      position: absolute;
      bottom: 5px;
      left: 0;
    }
  }

  h2 {
    font-family: $base-font;
  }
}

@media (max-width: $screen-sm-max) {

  .title-box-module-wrapper {

    padding: 20px 30px;

    p {
      font-size: 20px;
    }

  }
}