@import '../utils/variables';

.three-card-module-wrapper {
  display: flex;
  position: relative;
  padding: 0 50px;
  justify-content: center;
  z-index: 5;

  .three-card-single {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;

    &.card-0 {
      align-self: flex-end;
      margin-right: -40px;
      padding-bottom: 200px;
      z-index: 80;

      img {
        width: 356px;
      }

    }

    &.card-1 {
      align-self: flex-end;
      z-index: 81;

      img {
        width: 283px;
      }
    }

    &.card-2 {
      align-self: flex-end;
      margin-left: -40px;
      padding-bottom: 200px;
      z-index: 80;

      img {
        width: 560px;
      }
    }

    .three-card-image {
      display: flex;
      position: relative;
      align-items: flex-end;
      justify-content: center;

      a {
        position: absolute;
        bottom: 30px;

        &.btn {

          display: block;
        }
      }
    }

  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {

  .three-card-module-wrapper {

    position: relative;
    padding: 0;
    flex-direction: column-reverse;

    .three-card-single {
      display: flex;
      margin: 25px 0;
      position: relative;

      &.card-0 {
        align-self: auto;
        margin-right: 0;
        padding-bottom: 0;
        z-index: 2;

        img {
          width: 300px;
        }
      }

      &.card-1 {
        align-self: auto;
        margin-right: 0;
        padding-bottom: 0;
        z-index: 2;

        img {
          width: 200px;
        }
      }

      &.card-2 {
        align-self: auto;
        margin-left: 0;
        padding-bottom: 0;
        z-index: 2;
      }

      .three-card-image {

        a {
          left: 0;
        }
      }
    }
  }
}