@import '../utils/variables';

.page-template-accordion-page, .page-template-plant-care-archive-php {

  .site-content {
    margin: 0 auto;
    padding: 100px 0 60px 0;
    width: 60%;

    .inner-wrapper {

      .faq {

        &.panel {
          box-shadow: none;
          border: none;
        }

        .accordion-title {
          display: block;
          font-size: 32px;
          font-family: $base-font-alternative;
          text-transform: lowercase;
          border-bottom: solid 5px $accents;
          width: 100%;
          min-height: 100px;
          padding-top: 30px;
          color: $color_dark;

          &:active, &:hover, &:visited, &:focus {
            font-size: 32px;
            font-family: $base-font-alternative;
            text-transform: lowercase;
            text-decoration: none;
            color: $color_dark;
          }

          &.collapsed {

            &:after {
              font-family: FontAwesome;
              content: '\f00d';
              color: $success;
              float: right;
              transform: rotate(45deg);
            }
          }

          &:not(.collapsed) {

            &:after {
              font-family: FontAwesome;
              content: '\f00d';
              color: $success;
              float: right;
              transform: rotate(0deg);
            }
          }
        }

        .faq-body {
          margin-top: 60px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {

  .page-template-accordion-page, .page-template-plant-care-archive-php {

    .site-content {
      padding: 60px 1em 0 1em;
      width: 100%;

      .inner-wrapper {
        margin-bottom: 100px;

        .faq {

          .accordion-title {
            margin: 0 auto;
            width: 90%;
          }

          .faq-body {
            margin: 40px auto;
            width: 90%;
          }

        }
      }
    }
  }
}