@import '../utils/variables';

.site-content {

  .btn {

    &.btn-bloom {
      border-radius: 0;
      padding: 5px 15px;
      font-family: $base-font-alternative;
      background-color: $body-background;
      text-transform: lowercase;
      font-size: 17px;
      position: relative;

      &:hover {

        &:after {
          @include afterBar($success, 100%, -2px, 3px);
        }
      }
    }

  }
}
