@import '../utils/_variables.scss';

.custom-bloom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {

      &:after {
        display: block;
      }
    }
  }

  &:hover input ~ .checkmark {

  }

  .checkmark:after {
    width: 15px;
    height: 15px;
    left: -1px;
    top: -1px;
    background-image: url('/wp-content/themes/bloomscape/assets/images/x-check.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: $body-background;
  border: solid 1px $color_dark;

  &:after {
    display: none;
    content: '';
    position: absolute;
  }
}