.bootstrap-select.btn-group {

  .dropdown-toggle {

    .filter-option {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-align: right;
      color: $color_dark;
      font-family: $font-family-legal;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 19px;
    }
  }
}