@import '../utils/variables';

Footer.site-footer {
  display: flex;
  min-height: 282px;
  position: relative;
  bottom: 0;
  width: 100%;
  background: $color-body;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .copyright {
    position: relative;
    font-family: $font-family-legal;
    min-height: 48px;
    width: 100%;
    background: $accents;
    bottom: 0;

    ul {
      height: 12px;
      margin-top: 15px;
      list-style: none;
      text-align: center;

      li {
        display: inline;

        a {
          padding: 0 15px 0 0;
          border-right: solid 1px;
          font-size: 11px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        &:last-child a {
          border-right: none;
        }
      }
    }
  }

  .footer-nav {
    width: $max-width-bloom;
    padding-bottom: 48px;

    h4 {
      margin-bottom: 28px;
    }

    .col-md-4 {

      &:first-child {
        padding-left: $margin-base-inner;
      }
    }

    ul {

      li {

        a {
          font-family: $base-font;
          font-size: 14px;
          line-height: 25px;
          color: $almost-dark;

          &:hover, &:active, &:visited, &:focus {
            color: $almost-dark;
            text-decoration: none;
          }
        }
      }
    }
  }

  .newsletter {

    .newsletter-footer-form {
      float: left;
      border-bottom: solid 4px $success;
      width: 180px;

      input {
        background: none;
        font-family: $base-font-alternative;
        font-size: 16px;
        color: $color_links;
        border: 0;
        width: 180px;

        &::placeholder {
          font-family: $base-font-alternative;
          font-size: 20px;
          color: $accent_inner;
        }
      }
    }

    .newsletter-footer-button {
      margin-left: 10px;
      float: left;
      padding-top: 3px;

      a {
        color: $success;
        font-size: 19px;

        &:hover, &:active, &:visited {
          text-decoration: none;
        }
      }
    }

    .social-footer {
      margin-top: 20px;

      ul {

        li {
          display: inline;
          margin-right: 20px;

          a {
            color: $success;
            font-size: 20px;
          }
        }
      }
    }
  }

  .chat-button {

  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {
  Footer.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;

    .footer-nav {
      margin-bottom: 60px;

      h4 {
        margin-top: 43px;
        margin-bottom: 20px;
      }

      .col-md-4 {
        padding-left: $margin-base-inner;
      }
    }

    .newsletter {
      padding-left: $margin-base-inner;

      .newsletter-footer-form {
        width: 250px;
      }

      .social-footer {
        margin-top: 50px;

        ul {

          li {

            a {
              color: $success;
              font-size: 20px;
            }
          }
        }
      }
    }

    .copyright {

      .legals {
        top: -74px;
        left: 17px;

        ul {
          text-align: left;
          width: 70%;

          li {

          }
        }
      }
    }
  }
}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {
  Footer.site-footer {

    .footer-nav {
      width: $screen-sm-max;
    }
  }
}

@media (min-width: $screen-lg) and (max-width: $max-width-bloom) {
  Footer.site-footer {

    .footer-nav {
      width: $screen-lg;
    }
  }
}