@import '../utils/variables';

.image-text-modules-wrapper {
  margin: 0 auto;
  padding: 40px 100px;
  max-width: 1280px;

  .image-text-module {
    display: flex;
    margin: 70px 0;
    justify-content: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .images {
      flex: 1;
      padding: 30px;
    }

    .text {
      flex: 1;

      h2, h3, h4, h5, h6 {
        margin: 100px 0 20px 0;
        position: relative;
        font-size: 32px;
        font-family: $base-font-alternative;
        padding-left: 60px;

        &:before {
          content: '';
          background: $success;
          width: 50px;
          height: 5px;
          position: absolute;
          bottom: 5px;
          left: 0;
        }
      }

      > p, > span {
        font-size: 18px;
        line-height: 30px;
      }
    }

    &.right {
      flex-direction: row-reverse;
    }

  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {

  .image-text-modules-wrapper {

    padding: 20px;

    .image-text-module {
      display: flex;
      margin: 10px 0;
      justify-content: center;
      flex-direction: column;

      &.left {
        flex-direction: column-reverse;
      }

      &.right {
        flex-direction: column-reverse;
      }

      .text {

        h2, h3, h4, h5, h6 {
          margin: 30px 0;
        }
      }
    }
  }

}