/**
 * Imports
 */
@import '../utils/variables';

/**
 * My Account
 */

.woocommerce-account {

  h2 {
    font-family: $base-font-alternative;
    color: $success;
  }

  .woocommerce-form-login, .lost_reset_password {

    label {
      display: block;
      font-size: 18px;
      font-family: $base-font-alternative;
      color: $accent_inner;
      text-transform: lowercase;
    }

    input[type='text'], input[type='password'], input[type='email'] {
      border: 0;
      border-bottom: solid 2px $success;
      width: 100%;
      font-family: $base-font-alternative;
      color: $color_dark;
    }

    button {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: $base-font-alternative;
      background-color: $accent_inner;
      text-transform: lowercase;
    }
  }

  .inner-wrapper {
    margin: 60px 0;

    .woocommerce {
      @include make-row();
      margin: 0;

      .woocommerce-MyAccount-navigation {
        @include make-md-column(3);
        padding: 40px;
        background: $color_body;

        ul {
          list-style: none;

          li {
            border-bottom: 1px solid $color_border;
            position: relative;
            font-family: $font-family-legal;

            &.is-active {
              a {
                color: $success;
              }
            }

            a {
              text-decoration: none;
              color: $color_dark;

              &:active, &:hover, &:visited {
                text-decoration: none;
                color: $color_dark;
              }
            }
          }
        }
      }

      .woocommerce-MyAccount-content {
        @include make-md-column(9);
        padding: 40px;
        font-family: $font-family-legal;

        p {
          font-family: $font-family-legal;
        }

        a {
          color: $success;
          text-decoration: underline;

          &:active, &:hover, &:visited {
            color: $success;
            text-decoration: underline;
          }
        }

        fieldset {

          legend {
            display: block;
            font-size: 20px;
            font-family: $base-font-alternative;
            color: $success;
            text-transform: lowercase;
            border-bottom: 0;
          }
        }

        label {
          display: block;
          font-size: 18px;
          font-family: $base-font-alternative;
          color: $accent_inner;
          text-transform: lowercase;
        }

        input[type='text'], input[type='password'], input[type='email'] {
          border: 0;
          border-bottom: solid 2px $success;
          width: 100%;
          font-family: $base-font-alternative;
          color: $color_dark;
        }

        button {
          display: inline-block;
          margin-bottom: 0;
          font-weight: normal;
          text-align: center;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          cursor: pointer;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          border-radius: 4px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-family: $base-font-alternative;
          background-color: $accent_inner;
          text-transform: lowercase;
        }

        .plant-care-order {
          background: $color_body;
          padding-left: 30px;
          font-style: italic;
        }
      }
    }
  }
}

@media (max-width: $screen-lg) and (min-width: $screen-sm-max) {

  .woocommerce-account {

    .inner-wrapper {
      margin: 30px 0;
    }

    &.page-template-content-page {

      .site-content {
        width: 80%;
      }
    }

  }
}