.left-parallax-image-leaf-home-back {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/bottom-leaf@2x.png') no-repeat;
  background-size: cover;
  width: 96px;
  height: 124px;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 4;
}

.left-parallax-image-leaf-home-top {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/leaft-@2x.png') no-repeat;
  background-size: cover;
  width: 106px;
  height: 186px;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 6;
}

.left-parallax-image-leaf-home-back-r {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/peach-leaf@2x.png') no-repeat;
  background-size: cover;
  width: 104px;
  height: 190px;
  position: absolute;
  top: 270px;
  right: 0;
  z-index: 6;
}

.left-parallax-image-leaf-home-top-r {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/Group-7@2x.png') no-repeat;
  background-size: cover;
  width: 134px;
  height: 123px;
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 7;
}

.left-parallax-image-leafs-cards {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/Page-1@2x.png') no-repeat;
  background-size: cover;
  width: 405px;
  height: 428px;
  position: absolute;
  top: -80%;
  left: -5%;
  z-index: 7;
}

.left-parallax-image-insta-cards-top {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/Fill-1@2x.png') no-repeat;
  background-size: cover;
  width: 176px;
  height: 209px;
  position: absolute;
  bottom: 120vh;
  right: -5%;
  z-index: 7;
}

.left-parallax-image-insta-cards-bottom {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/Group-5@2x.png') no-repeat;
  background-size: cover;
  width: 174px;
  height: 247px;
  position: absolute;
  bottom: 140vh;
  right: -5%;
  z-index: -1;
}

.left-parallax-image-about-card {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/Leafx@2x.png') no-repeat;
  background-size: cover;
  width: 172px;
  height: 379px;
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 7;
}

.left-parallax-image-about-card-right {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/Leaft-g@2x.png') no-repeat;
  background-size: cover;
  width: 229px;
  height: 370px;
  position: absolute;
  top: 200%;
  right: 0;
  z-index: 0;
}

.left-parallax-image-our-card {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/tests2-04@2x.png') no-repeat;
  background-size: cover;
  width: 206px;
  height: 183px;
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 7;
}

.left-parallax-image-our-card-right {
  background: url('/wp-content/themes/bloomscape/assets/images/parallax-leafs/leaft-r@2x.png') no-repeat;
  background-size: cover;
  width: 316px;
  height: 336px;
  position: absolute;
  top: 170%;
  right: 0;
  z-index: 0;
}

@media (max-width: $screen-sm-max) {
  .rellax {
    display: none;
  }
}