@import '../utils/variables';

.plants-made {
  margin: 100px 0;
  position: relative;
  background: $color_body;
  padding: 30px;

  h3 {
    font-family: $base-font-alternative;
    color: $color_dark;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .content-box {
    text-align: center;

    .box-image {
      width: 100%;
      margin-bottom: 30px;

      img {
        margin: 0 auto;
        height: 150px;
      }
    }

    .box-label {
      margin: 20px 0;

      h4 {
        font-size: 20px;
      }
    }

    .box-text {
      margin: 0 auto;
      width: 60%;

      p {
        font-family: $base-font;
        color: $plants-text;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .plants-made {
    .content-box {
      margin-bottom: 70px;
    }
  }
}