@import '../utils/variables';

.search-form {
  display: flex;
  position: absolute;
  height: 300px;
  top: 0;
  width: 100%;
  background: $color_body;
  color: $color_dark;
  z-index: 2000;
  justify-content: flex-start;
  align-items: flex-end;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;

  &.visible {
    transform: scaleY(1);
  }

  label {
    display: none;
  }

  form {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 30px;
  }

  input {
    background: none;
    font-family: $base-font-alternative;
    font-size: 16px;
    color: $color_links;
    width: 100%;
    border: 0;
    border-bottom: solid $border-aspect $success;

    &::placeholder {
      font-family: $base-font-alternative;
      font-size: 20px;
      color: $accent_inner;
    }
  }

  .close-btn {
    position: absolute;
    right: 5%;
    top: 30px;

    a {
      font-size: 22px;
      color: $success;

      &:hover, &:visited, &:active {
        color: $success;
      }
    }
  }
}