@import '../utils/variables';

.bloom-sidebar {
  color: $color_dark;
  padding-left: 60px;

  .sort-title {
    margin-bottom: 18px;
    border-bottom: solid $border-aspect $success;

    h3 {
      text-transform: lowercase;
      color: $color_dark;
      font-family: $base-font-alternative;
      font-size: 26px;
      letter-spacing: 1px;
    }
  }

  .side-wrapper {
    display: block;
    width: 180px;
    position: absolute;
    min-height: 400px;
  }

  .bloom_woo_filters {

    .bloom-filter {

      h4 {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: $base-font-alternative;

        a {
          display: block;
          width: 180px;

          &.collapsed {

            &:after {
              font-family: FontAwesome;
              content: '\f078';
              color: $success;
              float: right;
            }
          }

          &:not(.collapsed) {

            &:after {
              font-family: FontAwesome;
              content: '\f077';
              color: $success;
              float: right;
            }
          }

          &:hover, &:active {
            color: $success;
            text-decoration: none;
          }
        }
      }

      label {
        display: block;
        font-family: $font-family-legal;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .single-filter-wrapper {
        padding-left: 25px;
      }
    }

    .submit {

      a {
        color: $color_dark;
        font-family: $base-font-alternative;
        background-color: $body-background;
        text-transform: lowercase;
      }
    }

    .modal {

      .modal-content {
        box-shadow: none;
        border: 0;
      }

      .modal-dialog {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        height: 100vh;
        width: 80%;
        flex-direction: column;
        justify-content: center;
      }

      .modal-body {
        padding: 30px;
        padding-top: 0;
        background: $color_body;

        .btn-close {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          height: 30px;

          .close {
            float: none;
            font-size: 80px;
            color: $success;
            opacity: 1;
            text-shadow: none;
            font-weight: normal;
            margin-left: -13px;
            margin-top: -21px;
          }
        }
      }

    }
  }

  .size-guide-helper {

    a {
      color: $success;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $font-family-legal;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}

.modal-backdrop {
  &.in {
    opacity: 0;
    color: $body-background;
  }
}

/*
 * Mobile
 */

@media (max-width: $screen-sm-max) {
  .bloom-sidebar {
    padding-left: 50px;

    .sort-title {
      width: 100%;
    }

    .side-wrapper {
      width: 90%;
      position: relative;
      min-height: auto;
    }

    .bloom_woo_filters {
      position: relative;

      .bloom-filter {

        h4 {

          a {
            width: 100%;
          }
        }
      }

      .modal {

        .modal-content {
          box-shadow: none;
          border: 0;
        }

        .modal-dialog {
          margin: 0;
          margin-top: 300px;
          width: 100%;
          height: auto;
        }

        .modal-body {
          padding: 30px;
          padding-top: 0;
          background: $color_body;

          .btn-close {
            height: 30px;
          }
        }

        .close {
          float: none;
          position: absolute;
          top: -15px;
          left: -9px;
          font-size: 80px;
          color: $success;
          opacity: 1;
          text-shadow: none;
          font-weight: normal;
        }
      }
    }
  }
}