@import '../utils/variables';

.sign-in-modal {

  .modal-dialog {

    .modal-content {
      background: $color_body;
      box-shadow: none;
      border-radius: 0;
      border-color: transparent;

      h3 {
        font-family: $base-font-alternative;
        font-size: 20px;
        margin-bottom: 30px;
      }

      .modal-body {
        padding: 30px 80px;
        position: relative;

        .col-sm-6 {

          > p {
            font-family: $font-family-legal;
            font-size: 12px;
            min-height: 80px;
          }

          .field-group {
            min-height: 70px;

            label {
              display: block;
              font-size: 18px;
              font-family: $base-font-alternative;
              color: $accent_inner;
              text-transform: lowercase;
            }

            input[type='text'], input[type='password'], input[type='email'] {
              border: 0;
              border-bottom: solid 2px $success;
              width: 100%;
              font-family: $base-font-alternative;
              color: $color_dark;
              background: transparent;

              &::placeholder {
                font-size: 20px;
                color: $accent_inner;
              }

            }

            em {
              display: block;
              margin-top: 20px;
              font-family: $font-family-legal;
              font-size: 12px;
              font-style: normal;
            }

            .btn-primary {
              display: inline-block;
              margin-bottom: 0;
              font-weight: normal;
              text-align: center;
              vertical-align: middle;
              -ms-touch-action: manipulation;
              touch-action: manipulation;
              cursor: pointer;
              border: 1px solid transparent;
              white-space: nowrap;
              padding: 6px 12px;
              font-size: 14px;
              line-height: 1.42857143;
              border-radius: 4px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              font-family: $base-font-alternative;
              background-color: $body-background;
              text-transform: lowercase;
              color: $color_dark;
              position: absolute;
              bottom: 0;
            }
          }
        }

        form[name='loginform'] {

          min-height: 207px;

          label {
            display: block;
            font-size: 18px;
            font-family: $base-font-alternative;
            color: $accent_inner;
            text-transform: lowercase;
          }

          input[type='text'], input[type='password'] {
            border: 0;
            border-bottom: solid 2px $success;
            width: 100%;
            font-family: $base-font-alternative;
            color: $color_dark;
            background: transparent;
          }

          .button-primary {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: $base-font-alternative;
            background-color: $body-background;
            text-transform: lowercase;
          }

          .login-submit {
            position: absolute;
            bottom: 0;
          }

          .login-remember {
            display: none;
          }

        }

        .lost-password {
          position: relative;
          bottom: 67px;
          font-family: $font-family-legal;
          font-size: 12px;
        }

        .register-form {

          form {
            min-height: 215px;
            position: relative;

            .submit {
              min-height: 59px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .sign-in-modal {

    .modal-dialog {

      .modal-content {

        .modal-body {

          padding: 30px;
        }

      }
    }
  }
}