@import '../utils/variables';

.youtube-module-wrapper {
  display: block;
  margin: 100px auto;
  text-align: center;
  min-height: 620px;
  position: relative;
  width: 90%;

  .video-foreground {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    pointer-events: none;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

@media (max-width: $screen-sm-max) {

  .youtube-module-wrapper {
    margin: 50px auto;
    text-align: center;
    min-height: auto;

    .video-foreground {
      pointer-events: auto;

      iframe {
        pointer-events: auto;
      }
    }
  }
}